/* GENERAL RULES START */

body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.light {
  color: #888;
}

/* GENERAL RULES END */

/** NAVIGATION SECTION START */

nav#main-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  height: 43px;
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
  background-color: #fff;
  z-index: 999999;
}

img.nav-logo {
  width: 195px;
  height: 26.49px;
}

a.nav-section {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14.25px;
  text-decoration: none;
  color: black;
}

button.menu-btn {
  color: black;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 11px;
  margin-right: 8px;
  padding: 8px 9px 9px;
  font-weight: 700;
  vertical-align: middle;
}

div#right-navbar {
  right: 10px;
  position: relative;
}

div#left-navbar {
  left: 15px;
  position: relative;
}

button.nav-right {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
  border: 1px solid #326891;
  background-color: #567b95;
  color: #fff;
  padding: 11px 12px 8px;
  border-radius: 3px;
  cursor: pointer;
  letter-spacing: 0.05em;
}

a.nav-go-home {
  font-weight: 400;
  font-size: 11px;
  color: rgb(86, 123, 149);
  text-decoration: none;
  position: relative;
  top: 16px;
}

/** NAVIGATION SECTION END */

/** MAIN SECTION START */

main#main-content {
  display: flex;
  max-width: 70vw;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

header#article-header {
  display: flex;
  flex-direction: column;
  margin: 45px 0 0;
}

#article-header h1 {
  color: #121212;
  font-size: 2.5rem;
  font-style: italic;
  display: inline-block;
  max-width: 383.777px;
  line-height: 1.2;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  padding: 25px 80px;
  vertical-align: middle;
  position: relative;
  margin-right: auto;
  margin-left: 10rem;
}

#article-header figcaption {
  font-size: 0.9375rem;
  max-width: 720px;
  line-height: 1.25rem;
  color: #666;
  margin: 10px 0;
}

#article-image {
  width: 100%;
  align-items: center;
}

section#article-content {
  width: 40vw;
}

#author-section {
  display: flex;
  flex-direction: column;
  height: 4.5rem;
  justify-content: space-between;
  margin: 25px 0;
}

span.date-social {
  display: flex;
  justify-content: space-between;
}

.social-media-bar {
  width: 10vw;
}

ul.social-media-btn {
  display: flex;
  justify-content: space-between;
}

.social-links {
  margin: 0 3px;
}

.social-links a {
  color: #000;
}

li.social-links:not(.social-square-icon) {
  background-color: #e2e2e2;
  border-radius: 180%;
  width: 27px;
  height: 27px;
  text-align: center;
  line-height: 29px;
}

.social-square-icon {
  font-size: 2em;
}

h6.author-name {
  color: #333;
  font-weight: 700;
}

.author-name a {
  color: inherit;
  text-decoration: underline;
}

.author-name a:hover {
  text-decoration: none;
}

li.social-links:hover {
  background-color: #fff;
  border: 1px solid #e2e2e2;
}

p.main-paragraph {
  font-size: 1.3rem;
  line-height: 1.875rem;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  margin: 0 0 15px;
}

/** MAIN SECTION END */

/** EDITOR PICKS SECTION START */

/** EDITOR PICKS SECTION END */

/** FOOTER SECTION START */

footer#main-footer {
  display: flex;
  flex-direction: column;
  max-width: 85vw;
  margin: 0 auto;
  padding: 0 3px 9px;
}

span.footer-line {
  border-top: 2px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  height: 1px;
  margin: 20px 0 10px 0;
}

div#footer-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

section#footer-links-section {
  display: flex;
  justify-content: space-between;
  max-width: 80vw;
  align-items: baseline;
}

ul.footer-link-container li {
  color: #000;
  line-height: 1.6;
}

a.footer-link {
  text-decoration: none;
  color: #000;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-transform: capitalize;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  height: 23px;
}

a.footer-link:hover {
  text-decoration: underline;
}

h3.footer-link-header {
  font-size: 13px;
  font-weight: 700;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  height: 25px;
  line-height: 15px;
  text-transform: uppercase;
  width: 150px;
  margin: 0;
}

ul#main-links a.footer-link {
  display: inline-block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-transform: capitalize;
  width: 170px;
  font-size: 16px;
  font-weight: 700;
  height: 25px;
  line-height: 15px;
  padding-bottom: 0;
  text-decoration: none;
}

section#subscribe-section {
  border-left: 1px solid rgb(226, 226, 226);
  padding-left: 15px;
}

i.footer-icons {
  background: url(../images/footer-icons.png) no-repeat;
  width: 12px;
  height: 12px;
  position: relative;
  padding-left: 20px;
}

a#footer-icon-home .footer-icons {
  background-position: 0 3px;
}

a#footer-icon-ds .footer-icons {
  background-position: 0 -34px;
}

a#footer-icon-crossword .footer-icons {
  background-position: 0 -72px;
}

a#footer-icon-cooking .footer-icons {
  background-position: 0 -109px;
}

ul.footer-credits-container .footer-link {
  font-size: 11px;
  padding: 10px;
}

ul#subscriptions-links {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

ul#subscriptions-links .footer-link {
  font-size: 11px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: -12px;
}

ul#preference-links .footer-link {
  font-size: 11px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: -12px;
}

ul.footer-credits-container {
  display: flex;
  justify-content: center;
  position: relative;
  border-top: 1px solid #e2e2e2;
  margin-top: 7px;
  padding: 10px 0 20px 0;
}

/** FOOTER SECTION END */
