/* GENERAL RULES START */
body {
}
/* GENERAL RULES END */

/** NAVIGATION SECTION START */

nav#main-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  height: 43px;
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
  background-color: #fff;
}

img.nav-logo {
  width: 195px;
  height: 26.49px;
}

a.nav-section {
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14.25px;
  text-decoration: none;
  color: black;
}

button.menu-btn {
    color: black;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    font-size: 11px;
    margin-right: 8px;
    padding: 8px 9px 9px;
    font-weight: 700;
    vertical-align: middle;
}

div#right-navbar {
    right: 10px;
    position: relative;
}

div#left-navbar {
    left: 15px;
    position: relative;
}

button.nav-right {
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
  border: 1px solid #326891;
  background-color: #567b95;
  color: #fff;
  padding: 11px 12px 8px;
  border-radius: 3px;
  cursor: pointer;
  letter-spacing: 0.05pm;
}

/** NAVIGATION SECTION END */

/** MAIN SECTION START */

main.main-content {
  padding-top: 3em;
}

/** MAIN SECTION END */

/** EDITOR PICKS SECTION START */

/** EDITOR PICKS SECTION END */

/** FOOTER SECTION START */

/** FOOTER SECTION END */
